body{
    color: #FFFFFF;
    background-color: black;
    text-align: center;
    justify-content: center;
}
.ruban{
    background-color: white;
    color: #000 ;
    text-align: center;
    align-items: center;
    height: 50px;
    width: 100%;
}

.learn_more{
    color: #0071EB;
    border: none;
}

em{
    background-color: #E50914;
    padding: 15px, 8.13px, 2.19px, 8px ;
    border-radius: 17px;
    border: none;
    margin-right: 5px;
}

.fond_film {

    display: flex;
    flex-direction: column;

    background-image:url(Images/Fond\ film.png);
    background-size: cover;
    background-position: center;

    height: 729px;

    border-style: solid;
    border-width: 2px 0px 8px 0px;
    border-color: #222222;

    padding: 3vh;
}

.top_fond_film {
display: flex;
flex-direction: row;
width: 100%;
justify-content: space-between;
}

button.right {
justify-content: space-between;

}

.button_english {
    background-color: black;
    border: 1px solid #AAAAAA;
    color: #FFFFFF;
    padding: 8px, 23px, 9px, 23px;
    border-radius: 2px;
    width:  97px;
    height: 36.19px;
}
.button_sign{
    background-color: #E50914;
    color: #FFFFFF;
    padding: 6px, 16.81px, 7px, 17px;
    border-radius: 3px;
    border: none;
    width: 83.81px;
    height: 32px;
}

.txt_fond_film{
    text-align: center;
}

.email{
    display: flex;
    justify-content: center;
    font-size: 500px;

}

.button_email{
    background-color: #E50914;
    color: #FFFFFF;
    padding: 6px, 16.81px, 7px, 17px;
    border-radius: 3px;
    border: none;
    width: 115px;
    height: 32px;
}

.placeholder_email{
    width: 490px;
}

h1{
    font-size: 3em;
}

.txt_TV{
text-align: left    ; 
}

.TV{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:80px;
}

.ecrans{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;

    border-style: solid;
    border-width: 8px 0px;
    border-color: #222222;

}

.kids{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.txt_kids{
text-align: left;
}

.download{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-style: solid;
    border-width: 8px 0px;
    border-color: #222222;
}

.img_dl{

}

.txt_download{
    text-align: left;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.liste1 {
    flex: 1;
}

.liste2 {
    flex: 1;
}

.liste3 {
    flex: 1;
}

.liste4 {
    flex: 1;
}

